* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: $base-font-size;

  @media only screen and (max-width: $laptopBreakpoint) {
    font-size: 14px;
  }

  @media only screen and (max-width: $tabletBreakpoint) {
    font-size: 10px;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

// scrollbar styles
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(85, 85, 85, 0.4);
}
