.TrafficMeisterFormContent__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  @media (max-height: $minimumHeightForOneScreen) {
    position: sticky;
    top: 0;
  }
}

.TrafficMeisterFormContent__FiltersHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.TrafficMeisterFormContent__FiltersVariantsWrapper {
  display: flex;
  gap: 10px;
}

.TrafficMeisterFormContent__logicVariantBtn {
  padding: 8px;
  background: gray;

  @media (max-width: $tabletBreakpoint) {
    font-size: 10px;
  }

  &Active {
    background: green;

    &:active {
      transform: none;
    }

    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}
