.TrafficMeisterSelectedElement__wrapper {
  width: 40%;
  display: flex;
  border: 1px solid rgb(180, 179, 179);
  border-radius: 10px;

  @media (max-width: $desktopBreakpoint) {
    width: 100%;
  }
}

.TrafficMeisterSelectedElement__closeBtn {
  background: gray;
}

.TrafficMeisterSelectedElement__selectedWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.TrafficMeisterSelectedElement__notSelectedWrapper {
  width: 100%;
  height: 100%;
  font-size: rem(26px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.TrafficMeisterSelectedElement__image {
  @media (max-width: $tabletBreakpoint) {
    width: 100%;
  }
}
